<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Full content of the book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <h3>List of bookings</h3> <br>
  <table class="table table-bordered table-striped">

    <thead>
    <tr>
      <th>ID</th>
      <th>user_id</th>
      <th>book_id</th>
      <th>start_date</th>
      <th>delivery_date</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
      <td th:text="${book.id}">
      <td th:text="${book.user_id}"></td>
      <td th:text="${book.book_id}"></td>
      <td th:text="${book.start_date}"></td>
      <td th:text="${book.delivery_date}"></td>
    </tr>
    </tbody>

  </table>
</div>

</body>
</html>